<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content=Security-Policy" content="default-src 'self; media-src 'self' blob:">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{titre}}</title>

    <!--Add bootstrap link-->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"><script src="https://kit.fontawesome.com/6426b64bb3.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="./css/output.css">
    {{#each styles}}
    <link rel="stylesheet" href="{{this}}">
    {{/each}}

    <script type="module" src="/js/accept-cookie.js"></script>

    {{#each scripts}}
    <script type="module" src="{{this}}"></script>
    {{/each}}
</head>

<body class=" bg-blue-600">
    {{>header}}

    <!--{{afficheArgent argent}}-->

    {{{body}}}
    

</body>
</html>